.overlay {
    position: fixed; /* Use 'absolute' if you don't want it to follow scroll */
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 30px;
    border-radius: 8px;

    z-index: 9999; /* Make sure it's on top */

    animation: fadeOut 1s forwards 3s;
}
.overlay-toggle-checkbox {
    display: none;
}
.overlay-msg-close:hover{
    cursor: pointer;
    text-decoration: underline;
}
.overlay-toggle-checkbox:checked ~ .overlay {
    display: none;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}