/* --------------------------
   Layout: Container & Sections
--------------------------- */
.container {
    margin: 0 0 auto 0;
    padding: 1rem 1rem;
    width: 100%;
    
}
/* Optional: kleinere Container für z. B. Blog, Formulare etc. */
.container-sm {
    max-width: 768px;
}

/* --------------------------
   Layout: Header, Main, Footer
--------------------------- */
main {
    display: flex;
    flex-direction: row;
}
section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.page-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
footer {
    background-color: var(--color-footer-bg);
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    color: var(--color-footer-text);
}

/* --------------------------
   Layout: Grid System
--------------------------- */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col {
    padding: 0 1rem;
    flex: 1;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

/* --------------------------
   Layout: Responsive
--------------------------- */
@media (max-width: 768px) {
    .col,
    .col-6,
    .col-4,
    .col-3 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    header, footer {
        text-align: center;
    }
}
