.page-wrapper > main{
    overflow-y: scroll;
}
.bericht-container {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    font-family: sans-serif;
    background-color: #fdfdfd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.img-container{
    background-color: #cecece;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
}
.bericht-bild {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.bericht-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    width: 100%;
}
.bericht-header p,h2 {
    margin: 0;
}
.bericht-titel {
    font-size: 24px;
    font-weight: bold;
}

.beschreibung {
    margin: 20px 0;
    width: 100%;
    background: #f4f4f4;
    padding: 15px;
    border-radius: 5px;
}

.kommentarbereich {
    margin-top: 30px;
    width: 100%;
}

.kommentar-formular textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
}

.bewertung-sterne {
    font-size: 20px;
    margin-bottom: 10px;
}

.kommentar-formular button {
    padding: 5px 15px;
    border: none;
    background-color: #fcb900;
    border-radius: 4px;
    cursor: pointer;
}

.kommentar {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 15px;
    background: #fff;
}
.kommentar .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.kommentar a{
    text-decoration: none;
    color: #000;
}
.rating {
    direction: rtl; /* Sterne von rechts nach links */
    unicode-bidi: bidi-override;
    font-size: 2rem;
    display: inline-flex;
}

.rating input {
    display: none;
}

.rating label {
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
    user-select: none;    /* Verhindert Textmarkierung */
    caret-color: transparent;  /* Versteckt den blinkenden Cursor */
}

.rating label:hover,
.rating label:hover ~ label {
    color: gold;
}

.rating input:checked ~ label {
    color: gold;
}

#submit {
    background-color: transparent;
    border: none;
}
/* Responsive mobile */
@media (max-width: 768px) {
    .bericht-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .bericht-titel {
        font-size: 20px;
    }

    .bewertung-sterne {
        text-align: center;
    }
   
}
